{% extends "layout.html" %}

{% block title %}
    about
{% endblock title %}

{% block content %}
   <h2>About Us</h2>
    <p>
        WonderLuxe Travel is a leading platform for young travelers who want to see the pixelized world.
    </p>
  <div class="about-info">
        <div class="about-info-top">
            <div class="about-img-top">
                <img src="https://preview.redd.it/far-away-from-the-bustle-me-pixel-art-2022-v0-ybxc928fi1981.gif?width=640&crop=smart&format=png8&s=eca344e1eb54300e839e282eb8efbc8d0e49e498" alt="Geeksforgeeks">
            </div>

            <div class="about-text-top">
                <p> 
                WonderLuxe Travel stands as a pinnacle of luxury travel, celebrated for its exceptional ability to design and deliver travel experiences that transcend the ordinary. 
                With a reputation for excellence, our agency is the epitome of upscale travel, offering services that are nothing short of extraordinary. 
                Our team, composed of seasoned travel connoisseurs, is committed to tailoring journeys that are as unique as they are memorable, 
                ensuring that each itinerary is meticulously crafted to align with the individual preferences.
                </p>
            </div>
        </div>

        <br>
        <div class="section-text">
            <div class="meet_team">
                <h2>Meet the Team</h2>
            </div>

            <div class="about-container">
                <div class="about-text-top">
                    <p>
                        At WonderLuxe Travel, we understand that luxury is not a one-size-fits-all concept but a personal adventure that should echo your distinct taste and style. 
                        Whether you yearn to explore the rugged terrains of distant lands, bask in the serenity of secluded beaches, 
                        delve into the rich tapestry of global cultures, or indulge in a harmonious mix of exhilarating and tranquil experiences.
                    </p>
                </div>

                <div class="about-img-team">
                    <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/374625009/original/a9520cb4a77c23b1a0aa6f1e33b7a5b82bc989ec/create-detailed-pixel-art-portraits.png" alt="Geeksforgeeks">
                </div>
            </div>

            <div class="section-text-bottom">
                <div class="contact-us">
                    <h2>Contact Us</h2>
                </div>
            
                <div class="about-container-bottom">
                    <div class="contact-us-img">
                        <img src="https://pixelartly.com/cdn/shop/files/ContactUs.png?v=1698440735&width=1500" alt="Contact Us">
                    </div>
            
                    <div class="about-text-bottom">
                        <p>
                        At WonderLuxe Travel, we're here to make your dream journey a reality. 
                        Whether you have questions about a destination, need assistance with planning the perfect itinerary, or are ready to book your next luxury adventure, 
                        our team is here to help. Reach out to us, and let us tailor your travel experience to your unique preferences. 
                        We look forward to connecting with you and turning your travel aspirations into unforgettable memories.
                        </p>
                    </div>
                </div>
            </div>

  </div>

   
{% endblock content%}