{% extends "layout.html" %}

{% block title %}
    about
{% endblock title %}

{% block content %}
   <h2>About Page</h2>
   <p style="font-weight: bold">
    WonderLuxe Travel is a leading platform......
    </p>
  <div class="about-info">
      <div class="about-img">
          <img src="https://preview.redd.it/far-away-from-the-bustle-me-pixel-art-2022-v0-ybxc928fi1981.gif?width=640&crop=smart&format=png8&s=eca344e1eb54300e839e282eb8efbc8d0e49e498" alt="Geeksforgeeks">
      </div>
      <div>
      <p class="about-text"> 
        WonderLuxe Travel is a premier travel agency renowned for curating luxurious and unforgettable travel experiences. 
        Our dedicated team of travel experts specializes in crafting personalized itineraries that cater to the unique desires of discerning travelers. 
        Whether you're seeking adventure, relaxation, cultural immersion, or a blend of all three, WonderLuxe Travel is your gateway to the world's most coveted destinations.
      </p>

   
{% endblock content%}