{% extends "layout.html" %} 

{% block title %} 
Vacation details 
{% endblock title %} 

{% block content %}
<h2>Details page</h2>
<hr />
<!-- <p>{{ vacations }}</p> -->

<h5>Country : {{country.name}}</h5>
<h5>Price : {{vacation.price}}</h5>
<h5>Description : {{vacation.stock}}</h5>

<img src="{{ url_for('vacations_view.get_image', image_name =( vacation.image_name if vacation.image_name else '---'))}}" />
<br><br>

<a href="{{ url_for('vacations_view.list')}}">Back</a>
{% if current_user.role_ID==1 %}
<span>|</span>
<a href="{{ url_for('vacations_view.edit', vacations_ID = vacation.vacations_ID)}}">Edit</a>
<span>|</span>
<a onclick="confirmDelete()" href="{{url_for('vacations_view.delete', vacations_ID = vacation.vacations_ID)}}">Delete</a>
{% endif %}
{% endblock content %}