{% extends "layout.html"  %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <h1>WanderLuxe Travels</h1>
    <h2>Welcome {{current_user.first_name}} 😎</h2>
    <div class="home_logo">
        <img src="https://i.pinimg.com/originals/16/b3/a6/16b3a615a18d4e5a2c93962a4f047fae.gif" alt="vacation_home">
    </div>
    <ul class="home_btn">
        <li>
            <button class="btn-primary-pixel">
                <a href="{{ url_for('auth_view.login') }}" {% if active == 'login' %} class="active" {% endif %}>Login</a>
            </button>
        </li>
        <br>
        <li>
            <button class="btn-primary-pixel">
                <a href="{{ url_for('auth_view.register') }}" {% if active == 'register' %} class="active" {% endif %}>Register</a>
            </button>
        </li>
    </ul>
{% endblock content %}



