{% extends "layout.html" %}

{% block title %}
Vacations
{% endblock %}

{% block content %}
<h2>WanderLuxe Travels</h2>
<h3>Vacations Page</h3>

{% if current_user and current_user.role_ID == 1 %}
    <a href="{{ url_for('vacations_view.insert') }}" class="btn btn-primary mb-3">Add New Vacation</a>
{% endif %}

<div class="card-container">
<div class="row">
    {% for vacation in vacations %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ url_for('vacations_view.get_image', image_name=(vacation.vacation_pic_filename if vacation.vacation_pic_filename else '---')) }}" class="card-img-top" alt="Vacation Image">
            <div class="card-body">
                <h5 class="card-title">{{ vacation.country_ID }}</h5>
                <p class="card-text">{{ vacation.vacation_description }}</p>
                <p><strong>Price:</strong> ${{ vacation.price }}</p>
                <p><strong>Start Date:</strong> {{ vacation.start_vacation_date }}</p>
                <p><strong>End Date:</strong> {{ vacation.end_vacation_date }}</p>

                {% if current_user and current_user.role_ID != 1 %}
                <p>
                    <button id="like-btn-{{ vacation.vacations_ID }}" class="btn btn-light" onclick="likeVacation({ vacations_ID })">
                        
                        <span id="like-count-{{ vacation.vacations_ID }}">{{ like_count[vacation.vacations_ID] }}</span> Likes
                        {% if user_liked[vacation.vacations_ID] %}
                            <!-- Liked icon -->
                        {% else %}
                            <!-- Not liked icon -->
                        {% endif %}
                    </button>
                </p>
                {% endif %}

                {% if current_user and current_user.role_ID == 1 %}
                <a href="{{ url_for('vacations_view.edit', id=vacation.vacations_ID) }}" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger" onclick="confirmDelete({ vacations_ID })">Delete</a>
            {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}




