:root {
    --pixel-bg: #fff; /* Inner background color */
    --pixel-border: black; /* Border color */
    --pixel: .125rem; /* Pixel size */
}

html, body {
    /* diameter of the circle */
    --d: 1px;
    background: radial-gradient(
        circle at 
        var(--d) 
        var(--d),
        #000 calc(var(--d) - 1px),
        #0000 var(--d)
    ) 
    0 0 / 50px 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: 400;
}

.layout {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 8% 85% 5%;
    align-content: center;
    background-color: #fff;
}

.layout > * {
    border: 2px solid #000;
    margin: 5px;
    box-shadow: 2px 2px;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: 2.5px;
    }
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgb(248 249 250 / 0%) !important;
}

header, footer {
    grid-column: span 6;
}

main {
    grid-column: span 5;
    padding: 20px;
    overflow: auto;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.products-table img {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(231, 225, 225);
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #201E43;
}

.active {
    color: #36C2CE;
    font-weight: bold;
}

.auth {
    font-size: 12px;
    margin-left: 8px;
}

header {
    width: 100%;
}

img, svg {
    vertical-align: middle;
    width: 28px;
    border-radius: 200px;
}

.btn-primary-pixel {
    width: 98.38px;
    height: 25px;
    margin-top: 6px;
    padding: 0 20px;
    background: var(--pixel-bg);
    position: relative;
    display: inline-block;
}

.btn-primary-pixel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-shadow:
        /* Inner Background Color */
        0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
        0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
        0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
        0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
        0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
        0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
        0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
        0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
        /* Pixel Border */
        calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
        var(--pixel) 0 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
        0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border);
}

.btn-primary-pixel:hover, .btn-primary-pixel:focus, .btn-primary-pixel:active {
    background-color: #000;
    border-color: #000;
    color: #fff;
}
