html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    height: 100%;
    background: #D8AA96;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: 400;
}

.layout {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10% 85% 5%;
    box-sizing: border-box;
}

.layout > * {
    border: 1px solid palevioletred;
}

header, footer {
    grid-column: span 6;
}

main {
    grid-column: span 5;
    padding: 20px;
    overflow: auto;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.products-table img {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(231, 225, 225);
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.active {
    color: green;
    font-weight: bold;
}

.auth {
    margin-left: 10px;
}

/* Specific header styling to ensure it doesn't move */
header {
    width: 100%;
}
